<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
   
    <div class="main-content">
       {{>header}}
       <p>This site was created by Anand Tsogtbaatar. The geographic location data is fetched from mapbox.com and the weather data is used from weatherstack.com API.</p>
      <img id="pic" alt="marathon picture" src="./img/marathon.JPG" />
    {{>footer}}
    </div>
  </body>
</html>
